@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h4>@ViewBag.Title</h4>
</hgroup>
<div>
    <br />
    <div class="alert-success" style="padding:10px 10px 10px 10px;">
        Your Password is reset and new Password is sent to your email.<br />
        Please check your email to get new Password.
    </div>
    <p>
        <br /> Click <a href="@Url.Action("LogIn")">here</a> to log in.
    </p>
</div>

